
<div class="chess-board-div">
    <table class="board">
        <tr class="row8">
            <td class="a8 white <%=board[0][0]%>"></td>
            <td class="b8 black"></td>
            <td class="c8 white"></td>
            <td class="d8 black"></td>
            <td class="e8 white"></td>
            <td class="f8 black"></td>
            <td class="g8 white"></td>
            <td class="h8 black"></td>
        </tr>
        <tr class="row7">
            <td class="a7 black"></td>
            <td class="b7 white"></td>
            <td class="c7 black"></td>
            <td class="d7 white"></td>
            <td class="e7 black"></td>
            <td class="f7 white"></td>
            <td class="g7 black"></td>
            <td class="h7 white"></td>
        </tr>
        <tr class="row6">
            <td class="a6 white"></td>
            <td class="b6 black"></td>
            <td class="c6 white"></td>
            <td class="d6 black"></td>
            <td class="e6 white"></td>
            <td class="f6 black"></td>
            <td class="g6 white"></td>
            <td class="h6 black"></td>
        </tr>
        <tr class="row5">
            <td class="a5 black"></td>
            <td class="b5 white"></td>
            <td class="c5 black"></td>
            <td class="d5 white"></td>
            <td class="e5 black"></td>
            <td class="f5 white"></td>
            <td class="g5 black"></td>
            <td class="h5 white"></td>
        </tr>

        <tr class="row4">
            <td class="a4 white"></td>
            <td class="b4 black"></td>
            <td class="c4 white"></td>
            <td class="d4 black"></td>
            <td class="e4 white"></td>
            <td class="f4 black"></td>
            <td class="g4 white"></td>
            <td class="h4 black"></td>
        </tr>

        <tr class="row3">
            <td class="a3 black"></td>
            <td class="b3 white"></td>
            <td class="c3 black"></td>
            <td class="d3 white"></td>
            <td class="e3 black"></td>
            <td class="f3 white"></td>
            <td class="g3 black"></td>
            <td class="h3 white"></td>
        </tr>

        <tr class="row2">
            <td class="a2 white"></td>
            <td class="b2 black"></td>
            <td class="c2 white"></td>
            <td class="d2 black"></td>
            <td class="e2 white"></td>
            <td class="f2 black"></td>
            <td class="g2 white"></td>
            <td class="h2 black"></td>
        </tr>

        <tr class="row1">
            <td class="a1 black"></td>
            <td class="b1 white"></td>
            <td class="c1 black"></td>
            <td class="d1 white"></td>
            <td class="e1 black"></td>
            <td class="f1 white"></td>
            <td class="g1 black"></td>
            <td class="h1 white"></td>
        </tr>
    </table>
</div>